//Gutenberg Block
.editor-block-list__block[data-type="elementor/template"] {

	.wp-block-elementor-template {
		padding: 20px 15px 10px 15px;
		p {
			text-align: left;
			color: #fff;
		}

		a.elementor-edit-link {
			float: right;
		}

		.elementor-block-inner-no-template {
			max-height: content-box;
		}

		.components-placeholder__label {

			svg {
				width: 64px;
				height: 64px;
			}
		}

		.components-placeholder__fieldset {

			h2 {
				width: 100%;
				margin-top: 0;
			}
		}
	}

	iframe {
		width: 1170px;
		transform-origin: top left;
	}

	.elementor-block-preview-overlay {
		background-color: transparent;
		top: 0px;
		left: 0px;
		position: relative;
		width: 100%;
		height: 0;
		z-index: 9999;
		user-select: none;
	}

	.elementor-preview-wrapper {
		height: inherit;
	}
}