//Gutenberg Block
.editor-block-list__block[data-type="elementor/template"],
.block-editor-block-list__block[data-type="elementor/template"] {

	.wp-block-elementor-template {

		.elementor-block-inner-no-template {
			max-height: content-box;
		}

		.components-placeholder__fieldset {
			margin-bottom: 10px;

			h2 {
				width: 100%;
				margin-top: 0;
			}
		}
	}
	/* Add cover element to contain the preview */
	.elementor-cover-container {
		display: inline-block;
		overflow: hidden;
		position: relative;
	}

	/* This pseudo element masks the iframe, so that mouse wheel scrolling and clicking do not affect the simulated "screenshot" */
	.elementor-block-preview-cover:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.elementor-block-preview-cover,
	.elementor-block-preview-cover iframe {
		width: 1440px; // large screen width
		height: 900px; // large screen height
		transform-origin: 0 0;
	}

	.elementor-block-preview-cover iframe {
		opacity: 0;
		transition: all 300ms ease-in-out;
	}

	.elementor-block-preview-overlay {
		background-color: transparent;
		top: 0;
		left: 0;
		position: relative;
		width: 100%;
		height: 0;
		z-index: 9999;
		user-select: none;
	}

	.elementor-preview-wrapper {
		height: inherit;
		overflow: hidden;
	}
}

// RTL Compatibility
body.rtl {

	.editor-block-list__block[data-type="elementor/template"],
	.block-editor-block-list__block[data-type="elementor/template"] {
		.elementor-block-preview-cover,
		iframe {
			transform-origin: top right;
		}
	}
}
